@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: url("./images/wallpaperflare.com_wallpaper\(2\).jpg");
    background-size: cover;
    background-position: center;
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    width: 110px;
    height: 100%;
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 260px;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 43px;
    border-radius: 50%;
}

.logo h2 {
    font-weight: 600;
    font-size: 1.15rem;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2{
    display: block;

}

.sidebar .links {
    height: calc(100% - 140px);
    overflow-y: auto;
    scrollbar-width: none;
    list-style: none;
    margin-top: 20px;
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.sidebar .links h4 {
    color: #222;
    font-weight: 500;
    margin-bottom: 10px;
    display: none;
}

.sidebar:hover .links h4 {
    display: block;

}

.links li {
    display: flex;
    align-items: center;
}

.links hr{
    border-color: #4c4c4c;
    margin: 10px 8px;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li:hover {
    border-radius: 4px;
    cursor: pointer;
    background: #fff;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    color: #000;
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    white-space: nowrap;
    display: none;
}

.sidebar:hover .links li a {
    display: block;

}